.recommendations {
  text-align: center;
  margin-top: 30px;
}

.recommendations h1 {
  color: #8c1515;
  margin-bottom: 20px;
}

.recommendations ul {
  list-style: none;
  padding: 0;
}

.recommendations ul > li {
  margin-bottom: 30px;
}

.recommendations h2 {
  color: #8c1515;
  margin-bottom: 10px;
}

.recommendations ul > li > ul {
  list-style: none;
  padding: 0;
}

.recommendations ul > li > ul > li {
  margin-bottom: 10px;
  border-bottom: 1px solid #cccccc; 
  padding-bottom: 5px;
}
